<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="booksShop_ShidEntities" connectionString="metadata=res://*/BD.Model1.csdl|res://*/BD.Model1.ssdl|res://*/BD.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WSR-SRV\SQLEXPRESS;initial catalog=booksShop_Shid;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="book_Nechaev_KlimenkoEntities" connectionString="metadata=res://*/BD.Model.csdl|res://*/BD.Model.ssdl|res://*/BD.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.10.250\SQLEXPRESS;initial catalog=book_Nechaev_Klimenko;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="book_Nechaev_KlimenkoEntities1" connectionString="metadata=res://*/BD.Model1.csdl|res://*/BD.Model1.ssdl|res://*/BD.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.10.250\SQLEXPRESS;initial catalog=book_Nechaev_Klimenko;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>